html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

.input-group-btn button.btn {
  padding-top: 11px;
  padding-bottom: 11px; }

body.awana {
  width: 100%;
  display: table;
  border-collapse: collapse; }
  body.awana .header, body.awana .footer {
    display: table-row;
    height: 1px; }
  body.awana .body {
    height: 100%;
    position: relative; }
  body.awana .fa {
    font: FontAwesome; }

.loader {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  z-index: 999; }
  .loader > * {
    display: table;
    height: 100%;
    width: 100%; }
    .loader > * > * {
      text-align: center;
      vertical-align: middle;
      display: table-cell;
      font-size: 4em; }

/*
  * See https://github.com/angular/angular.io/blob/master/public/docs/_examples/styles.css
  * for the full set of master styles used by the documentation samples
  */
